<nav class="nav"  [class.scrolled]="isScrolled">
  <div class="first">
      <a href="#home"  class="same" (click)="scrollTo('home')">Home</a>
      <a href="#about"  class="same" (click)="scrollTo('about')">About</a>
      <a href="#services"  class="same" (click)="scrollTo('services')">Services</a>
  </div>
  <div class="logo-container"><a href="#home"><img class="logo" src="../assets/Images/logo.png" alt=""></a></div>
  <div class="second">
    <a href="#portfolio"  class="same" (click)="scrollTo('portfolio')">Portfolio</a>
    <a href="#team" class="same" (click)="scrollTo('team')">Team</a>
    <a href="#contact"  class="same" (click)="scrollTo('contact')">Contact</a>
  </div>
</nav>


<div class="content">
  <app-home id="home"></app-home>
  <app-services id="services"></app-services>
  <app-about id="about"></app-about>
  <app-contact id="contact"></app-contact>
</div>

<app-footer></app-footer>
