
.box {
  height: 720px;
  background: url('../../assets/Images/4.jpeg') no-repeat center center;
  background-size: cover;
  padding: 20px;
}
#container{
  margin-top: 0px;
  height:100%;
  width: 100%;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}
.firstBox{
  border: 3px solid rgb(0, 0, 0);
  height: 200px;
  width: 200px;
  margin-left: 15px;
}
.secondBox{
  border: 3px solid rgb(0, 0, 0);
  height: 200px;
  width: 200px;
  margin-left: 15px;
}
.thirdBox{
  margin-left: 15px;
  border: 3px solid rgb(0, 0, 0);
  height: 200px;
  width: 200px;
}
.pic{
  width: 195px;
  height: 195px;
}
